* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 0.5em;
}

header, footer {
    background-color: #a7a8b6;
    padding: 1rem;
}
header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    grid-template-rows: 1fr;
    color: rgb(4, 12, 85);
    align-items: end;
    font-weight: 800;
    font-size: 2rem;
}

header img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-content: center;
}

nav {
    background-color: #a7a8b6;
}

#myButton::before {
    content: "\2630";
    
}
#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor:pointer;
    width: 100%;
    text-align: right;
    padding: 0.25rem 2vw;
    /* Minimum size required for the button is 47px */
}

ul.menuLinks li a {
    display: block;
    padding: 0.75rem 2vw; /* Minimun required size for the list items is 0.75rem*/
    color: rgb(4, 12, 85);
    text-decoration: none;
    font-weight: 800;
    font-size: 0.75rem;
}

ul.menuLinks {
    /* display: none; */
    list-style-type: none;
}

li.current-menu-item a {
    background-color:rgba(0,0,0,0.2);
}

ul.menuLinks {
    /* display: none; */
    list-style-type: none;
}

/* ul.menuLinks.open {
    display: block;
} */

#myButton.open::before {
    content: "\2715";
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}
nav ul {
    overflow: hidden;
}
nav.open {
    grid-template-rows: 1fr;
}

.hero {
    width: 100%;
}
.hero {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2%;
    width: 100%;
    height: auto;
}

.hero img {
    width: 900px;
    height: auto;
    border-radius: 0.5rem; 
}
 
.hero-text {
    display: block;
    align-self: end;
    position: absolute;
    text-align: right;
    margin: 0 0 2% 0;
    padding: 0;
    color: white;
    font-size: 0.5rem;
}

.info-container {
    display: block;
    width: 100%;
    height: auto;
    gap: 10px;
}

.events {
    display: grid;
    gap: 2px;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 2%;
    border: 2px solid #a7a8b6;
    border-radius: 0.5rem;
    padding: 1%;
}
.events h2 {
    color: rgb(4, 12, 85);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.current {
    display: grid;
    gap: 2px;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 2%;
    border: 2px solid #a7a8b6;
    border-radius: 0.5rem;
    padding: 1%;
}
.current h2 {
    color: rgb(4, 12, 85);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.forecast {
    display: grid;
    gap: 2px;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 2%;
    border: 2px solid #a7a8b6;
    border-radius: 0.5rem;
    padding: 1%;
}
.forecast h2 {
    color: rgb(4, 12, 85);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.business-info {
    display: grid;
    gap: 2px;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 2%;
    border: 2px solid #a7a8b6;
    border-radius: 0.5rem;
    padding: 1%;
}

#members {
    display: block;
    gap: 2px;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 2%;
    border: 2px solid #a7a8b6;
    border-radius: 0.5rem;
    padding: 1%;
}







footer{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#keytitle {
	font-size: larger;
	grid-column: 1 / 3;
}

.key > div {
	width: 0.75rem;
	height: 0.75rem;
	border: 1px solid #bbb;
}

.key > p {
	display: inline;
	font-size: 0.75rem;
}

p {
	margin: 0;
}

.grid {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

}
.directory-container {
    gap: 2px;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 2%;
    border: 2px solid #a7a8b6;
    border-radius: 0.5rem;
    padding: 1%;
}

.member {
	margin: 0.5rem;
	padding: 0.5rem;
	border: 1px solid rgb(0 0 0 / 10%);
	flex-direction: column;
	align-items: center;
    min-width: 25%;
    max-width: 30%;
}
ul li {
    justify-content: center;
    max-width: 95%;
    font-size: 0.54rem;


}

section > p {
	min-height: 60px;
	font-size: smaller;
	text-align: center;
}

/* img {
	width: auto;
	max-width: 325px;
	box-shadow: 0 0 30px #777;
	height: 200px;
	border: 1px solid #111;
} */

li > img {
	width: auto;
	height: 30px;
}

.caption {
	position: absolute;
	top: 1.5rem;
	right: 2rem;
	border: 1px solid #ccc;
	background-color: lightyellow;
	padding: 0.25rem;
	display: grid;
	align-items: center;
	grid-template-columns: 1rem 1fr;
}

.un {
	list-style: none;
}

svg {
    width: 70%;
    height: 70%;
    color: rgb(4, 12, 85);
}