@media only screen and (max-width: 600px) {
    
    .education #courses{ /*ok*/
        display: block;
    }
    .education .course-card { /*ok*/
        display: block;
        width: 100%;
    }
    main .coursework, .city { /*ok*/
        display: block;
        width: 100%;
        height: auto;
    }    


}
	
    