* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #164e70;
    color: white;
    padding: 1rem;
}
header .name {
    font-size: 2rem;
    margin-left: 1rem;
}
#myButton::before {
    content: "\2630"; 
    display: none;
}
#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor:pointer;
    width: 100%;
    text-align: right;
    padding: 0.25rem 2vw;
    /* Minimum size required for the button is 47px */
}
#myButton.open::before {
    content: "\2715";
}
nav.open {
    grid-template-rows: 1fr;
}


ul.menuLinks li a {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.75rem 2vw; /* Minimum required size for the list items is 0.75rem */
    color: white;
    text-decoration: none;
}
.menuLinks a:hover { 
        background-color:rgba(30, 3, 3, 0.2);
        text-decoration: underline;
}  

.menuLinks {
    /* display: none; */
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #164e70;
}
li.current-menu-item a {
    background-color: rgba(0, 0, 0, 0.2);
}

header img {
    justify-content: center;
    align-self: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    align-content: center;
}
main { 
    margin: 5%;
}
.coursework { /*ok*/
    display: flex; 
    border-radius: 0.25rem; 
    float: left; 
    width: 49%; 
    height: 20rem; 
    box-shadow: #333 0px 0px 10px;
}   
.course h2 { 
    display: flex;
    justify-content: center;
    background-color: #164e70;
    margin: 0;
    color: white;    
    font-size: medium;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 2%;
}
.course {
    width: 100%;
    flex-direction: column;
}
.course ul{ 
    display: flex; 
    flex-direction: column; 
    justify-content: left; 
    margin: 0; 
    width: 100%; 
    list-style-type: none; 
    padding: 5%;
}
.course ul a { 
    color: black; 
    text-decoration: none;
}
.city { 
    display: flex; 
    border-radius: 0.25rem; 
    float: right; 
    width: 49%; 
    height: 20rem; 
    box-shadow: #333 0px 0px 10px;
}
.city h2 {
    display: flex;
    justify-content: center;
    background-color: #164e70;
    margin: 0;
    color: white;    
    font-size: medium;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 2%;
}
.cities {
    width: 100%;
    flex-direction: column;
}
.responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    width: 50%;
}
.cities p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.education {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 3px;
}
.education h2 {
    width: 100%;
    justify-content: center;
    background-color: #164e70;
    margin: 0;
    color: white;    
    font-size: medium;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 2%;
}
footer {
    color:white;
    text-align: center;
    justify-content: center;
}
footer p{
    color:yellow;
    width: 100%;
    height: 2.2rem;
    background-color: #164e70;
    align-content: center;
}
.year {
    color:white;
}
#current-year  {
    color:whitesmoke;
}
#last-modified {
    color: yellow;
}
#courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3%;
}
.filter {
    display: flex;
    justify-content: space-around;
    padding: 3%;
}
.education button {
    background-color: rgba(180, 231, 200, 0.7);
    padding: 1%;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}
.education .script {
    display:flex;
}
.course-count {
    width:100%;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
.course-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.5em;
    margin-bottom: 2%;
    background: #f9f9f9;
    width: 30%;
}
.course-card.completed {
    justify-content: center;
    align-self: end;
    border-color: #4caf50;
    background: #e8f5e9;
    box-shadow: 0 0 8px #4caf5033;
}
.badge {
    justify-content: center;
    background: #4caf50;
    color: #fff;
    padding: 0.2em 0.2em;
    border-radius: 12px;
    font-size: 0.9em;
    position: relative;
    top: 1em;
    right: 1em;
}
#keytitle {
	font-size: larger;
	grid-column: 1 / 3;
}
.key > div {
	width: 0.75rem;
	height: 0.75rem;
	border: 1px solid #bbb;
}
.key > p {
	display: inline;
	font-size: 0.75rem;
}
p {
	margin: 0;
}
